.buttons {
    max-width: 70%;
    background-color: #E6E2EB;
    margin-bottom: 10px;
}

.card {
    background-color: #E6E2EB;
    margin-bottom: 10px;
}

hr {
    color: rgb(146, 146, 146);
}
.button-container {
    padding: 10px;
}

#rating {
    text-align: center;
}

.jumbotron{
    max-width: 90%;
}

.heading {
    width: 100%;
    text-align: center;
}

.gifs {
    width: 70%;
}

.favs {
    width: 30%;
}

.row {
    width: 100%
}